@charset "UTF-8";

@font-face {
    font-family: 'Gagalin-Regular';
    src: url('../css/fonts/Gagalin-Regular.otf');
}

@font-face {
    font-family: 'Gotham Book Regular';
    src: url('../css/fonts/Gotham Book Regular.otf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../css/fonts/Gotham Medium.otf');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../css/fonts/GothamBook.eot');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../css/fonts/GothamBook.ttf');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../css/fonts/GothamBook.woff');
}

@font-face {
    font-family: 'raleway.bold';
    src: url('../css/fonts/raleway.bold.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../css/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../css/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../css/fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../css/fonts/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../css/fonts/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-blod';
    src: url('../css/fonts/nunito.bold.ttf');
}

@font-face {
    font-family: 'Nunito SemiBlod';
    src: url('../css/fonts/nunito.semibold.ttf');
}

body {
    background-color: #fff;
    color: #333;
    padding-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    color: #000;
    font-weight: 600;
}

h4 {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
}

h5 {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}

a {
    letter-spacing: 2px;
    text-decoration: none;
}

ul {
    letter-spacing: 1px;
}

li {
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: capitalize;
}

p {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 20px;
}

span {
    letter-spacing: 1px;
}

.img-fluid {
    height: 60px;
    margin-bottom: 30px;
    width: 60px;
}

.container-full {
    padding-left: 0;
    padding-right: 0;
}

.btn_old {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.fa {
    font-size: 13px;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: #71c55d;
    line-height: 1;
    color: #fff;
    padding: 7px 12px 13px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: #71c55d;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #55b03f;
    color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 65px;
    z-index: 3;
    transition: all 0.5s ease;
    width: 100%;
}

#header #logo {
    padding: 6px 0 0 0;
    margin-left: 55px;
}

#header #logo h1 {
    color: #000;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    float: left;
    margin-top: 8px;
    font-family: 'Gagalin-Regular';
}

#header #logo h1 a {
    color: #007b0e;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}


#header #logo h1 a span {
    color: #71c55d;
}

#header #logo img {
    padding: 0;
    margin: 0;
    float: left;

}

.scroll-header {
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.header-signin a.login {
    width: 210px;
}

.header-signin i.fa.fa-user {
    margin-right: 5px;
}
@media (min-width: 1333px) {
    .nav-menu > li {
        margin-left: 30px;
    }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(100vh - 65px);
    background: url(../img/home_bg.png) no-repeat center top;
    position: relative;
    background-attachment: scroll;
    background-size: 100% 100%;
}

@media (min-width: 1025px) {
    #hero {
        _background-attachment: fixed;
    }
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1, #hero h2, #hero h2:nth-child(3) {
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Raleway-Bold";
}

#hero h2 {
    font-size: 30px;
    margin-bottom: 70px;
    text-transform: none;
}

#hero h2:nth-child(3) {
    font-size: 30px;
    font-family: 'Gotham Medium';
    margin-bottom: 30px;
    text-transform: none;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
        font-family: "Raleway-Bold";
    }
}

#hero img {
    max-width: 95%;
    margin-bottom: 30px;
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    border: 2px solid #71c55d;
    background: #fff;
    color: #71c55d;
    text-decoration: none;
}

#hero .btn-get-started:hover {
    background: #71c55d;
    color: #fff;
}

#hero .btns a {
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 4px 20px;
    text-decoration: none;
    transition: 0.3s;
}

@media (max-width: 575px) {
    #hero .btns a {
        margin: 4px 8px;
    }
}

#hero .btns a:hover {
    color: #71c55d;
}

/*-----------------------Login Section-----------------------*/
.white{
    color:#000;
    background-color:#fff;
}

.panel {
    height: 500px;
    margin-top: 106px;   
}


.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
    color: #ffffff;
    background-color: #133783 !important;
    background-color: #102e6d !important;
}

.btn-facebook:active,
.btn-facebook.active {
    background-color: #0d2456 \9 !important;
}

.colorgraph {
    height: 4px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #56a700 25%, #ececec 25%);
}

.colorgraph2 {
    height: 4px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #56a700 25%, #ececec 25%);
}
.colorgraph3 {
    height: 3px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #56a700 25%, #ececec 25%);
}

.login-border{
    border-radius: 0.60rem;
    border: 1.3px solid #ced4da;
    padding:12px;
}

.btn-border{
    border-radius: 0.60rem;
    border: 1.3px solid #007b0e;
    padding:12px;
    background-color: #007b0e;
    font-family: 'Nunito-blod';
    font-size: 22px;
}
.fb-title{
    font-family: 'Nunito-blod';
    font-size: 19px;
    text-transform: none;
    letter-spacing: normal;
    color: #8f8f8f;
    padding-top: 50px;
    padding-bottom: 13px;
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
section.page-history {
    background-image: linear-gradient(#e2e4e0, #f2f2f2 50%);
    padding-top: .5%;
    padding-bottom: .5%;
}
.wall {
    /*min-height: 20px;*/
    /*    padding: 19px;
        margin-bottom: 20px;*/
    /*    background-color: #f5f5f5;
        border: 1px solid #e3e3e3;*/
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.page-history a:first-child{
    font-family: 'Open Sans Regular';
    font-size: 14px;
    color: #636363;
    font-weight: bold;
    letter-spacing: normal;
}
.page-history a:nth-child(n+2) {
    font-family: 'Open Sans Regular';
    font-size: 14px;
    color: #007b0e;
    font-weight: bold;
    letter-spacing: normal;
}


.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu li.list-menu {
    position: relative;
    white-space: nowrap;
    padding: 13px 0 !important; 
}
.search-menu {
    padding: 0 !important;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}
.nav-menu ul li.header-signin {
    padding: 0 !important;
    margin-left: 0 !important;
    background-color: #858784 !important;
}
.nav-menu ul li.header-signin a {
    background-color: #858784 !important;
    display: block;
    height: 100%;
    padding: 17px 0 !important;
}
.header-signin {
    margin-left: 0 !important;
} 
.login {
    background-color: #858784 !important;
    padding: 21px 20px 20px !important;
    color: #fff !important;
}
/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    margin-top: 1px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0;
}

@media (max-width: 1024px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: "Raleway-Bold";
    font-weight: bold;
    font-size: 15px;
    outline: none;
    letter-spacing: 0;
    transition: 0.3s;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #71c55d;
}

.nav-menu > li {
    margin-left: 15px;
}

.nav-menu ul {
    margin: 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}
.nav-menu ul li.list-menu {
    margin-top: 20px;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 14px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #71c55d;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 4px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #555;
    font-size: 24px;
}

@media (max-width: 1024px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(52, 59, 64, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    padding: 6px 22px 6px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    letter-spacing: 0;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #71c55d;
}

#mobile-nav ul .menu-item-active {
    color: #71c55d;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
    padding-bottom: 80px;
    padding-top: 80px;
}

@media (max-width: 992px) {
    .padd-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-title {
    margin-bottom: 80px;
}

@media (max-width: 992px) {
    .section-title {
        margin-bottom: 40px;
    }
}

.section-title h2 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.section-title .separator {
    margin: 0;
}

.separator {
    color: #626262;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: capitalize;
}

/* Get Started Section
--------------------------------*/
#get-started {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#get-started .feature-block {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 991px) {
    #get-started .feature-block {
        margin-bottom: 30px;
    }
}

#get-started .feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
    margin-bottom: 20px;
}

#get-started .feature-block p {
    margin-bottom: 20px;
}

#get-started .feature-block a {
    color: #505050;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
}

#get-started .feature-block a:hover {
    color: #71c55d;
}

/* About Us Section
--------------------------------*/
#about-us img {
    max-width: 100%;
}

#about-us .about-content {
    padding-top: 60px;
}

#about-us .about-content h2 {
    color: #252525;
    font-family: "roboto";
    font-size: 39px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#about-us .about-content span {
    font-weight: 700;
    padding-right: 10px;
    text-transform: uppercase;
}

#about-us .about-content ul li {
    line-height: 36px;
}

#about-us .about-content ul li .fa {
    padding-right: 20px;
}



/* Team Section
--------------------------------*/
#team .team-block {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    height: 254px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (max-width: 991px) {
    #team .team-block {
        margin-bottom: 30px;
    }
}

#team .team-block img {
    width: 100%;
}

#team .team-block .team-content {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    bottom: -147px;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
    display: block;
    width: 100%;
}

#team .team-block .team-content ul li {
    display: inline-block;
}

#team .team-block .team-content ul li a {
    color: #626262;
}

#team .team-block .team-content ul li a .fa {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
    color: #71c55d;
}

#team .team-block .team-content ul > span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#team .team-block:hover .team-content {
    bottom: 0px;
    transition: all 0.5s ease-in-out 0s;
}



/* Blog Section
--------------------------------*/
@media (max-width: 991px) {
    #blog .block-blog {
        margin-bottom: 30px;
    }
}

#blog .block-blog img {
    width: 100%;
}

#blog{
    background: #f3f1f2;
}

#blog .content-blog {
    padding-bottom: 12px;
}

#blog .content-blog h4 {
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 16px;
}

#blog .content-blog h4 a {
    color: #555;
    text-decoration: none;
    transition: 0.3s;
}

#blog .content-blog h4 a:hover {
    color: #71c55d;
}

#blog .content-blog > span {
    _float: left;
    font-size: 12px;
}

#blog .content-blog a.readmore {
    color: #505050;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 0;
    text-transform: capitalize;
}

#blog .block-blog .content-blog a.readmore:hover {
    color: #71c55d;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    background: #1b1f2b;
    padding-top: 65px;
}

.footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    padding-left: 0;
    padding-top: 0;
}

.footer .list-menu p {
    font-size: 15px;
    color: #a7a7a7;
}

.footer .list-menu > h4 {
    color: #fff;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: normal !important;
    text-transform: none !important;
    font-family: 'Rubik-Medium';
}

.footer .list-menu ul li a {
    color: #a7a7a7;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0;
    font-family: 'Raleway-Bold';
}
.contact-info-2 ul {
    list-style: none;
    padding: 0;
}
.contact-info-2 ul li {
    float: left;
}
.contact-info-2 ul li a {
    padding: 5px 10px;
    color: #fff;
}
.contact-info-2 ul li a i {
    font-size: 22px;
}
.footer .copyrights {
    background: #000;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}
.footer-foutrh {
    margin-top: -50px;
}
.footer-foutrh P{
    color: #fff;
}

.footer .copyrights p, .footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0;
    color: #a7a7a7;
}

.footer .copyrights p a, .footer .copyrights .credits a {
    color: #a2a6a9;
}
.all-footer{
    padding-left: 8%;
    padding-right: 8%;
}

.btn-theme{
    background-color: #AED75C;
    border-color:#AED75C;   
}

.nav-menu a.btn-theme{
    color: #FFF;  
}


form.search-form input[type=text] {
    width: 75px;
    box-sizing: border-box;
    border: 1px solid #e2dedf;
    _border-radius: 4px;
    font-size: 16px;
    background-color: #e2dedf;
    background-image: url('../img/search.png');
    background-size: 30px 30px;
    background-position: 23px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 27px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

form.search-form input[type=text]:focus {
    width: 100%;
    z-index:90;
}

.search-form{
    float: left;
    margin-left: 15px;
}
.sign-in a {
    box-sizing: border-box;
    border: 1px solid #858784;
    font-size: 16px;
    background-color: #858784;
    background-size: 30px 30px;
    padding: 12px 20px 42px 185px;
    height: 71px;
}
.sign-in{

}
.hero-container input[type="text"],
select.transparent-input , input.transparent-input,
/*select.transparent-input:active , input.transparent-input:active,*/
/*select.transparent-input:hover , input.transparent-input:hover,*/
select.transparent-input:focus , input.transparent-input:focus
{
    height: 50px !important;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #93a493;
    color: #FFF !important;
    margin-bottom: 15px;
}

.hero-container select.input-lg {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.hero-container select + i.fa {
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    pointer-events: none;
    padding-right: 5px;
    color: #FFF;
}

input::placeholder {
    color: #FFF !important;
    font-size: 1.2em;
}

select::placeholder {
    color: #FFF !important;
    font-size: 1.5em;
}

.footer .footer-foutrh > h4{

    color: #fff;
    padding-bottom: 20px;
    font-size: 15px;
    letter-spacing: normal !important;
    text-transform: none !important;

}

.footer .contact-info-2 > h4{

    color: #fff;
    padding-bottom: 20px;
    font-size: 15px;
    letter-spacing: normal !important;
    text-transform: none !important;

}

.fotbtm-menu ul li a {
    color: #a7a7a7;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    padding: 0 5px;
    text-decoration: none;
    letter-spacing: normal;
}
.fotbtm-menu {
    padding: 34px 0;
    text-align: center;
}

.fotbtm-menu ul li {
    border-right: 1px solid #d7d7d7;
    display: inline-block;
    line-height: 15px;
}
hr.hr_divider{
    border: 0.3px solid #e6e6e6;
}

.footer-btm-img {

    text-align: center;
}
.box-color {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background-color: #FFFFFF;
}
.review-box{
    position: relative;
}
#blog .full-review-box{
    margin-top: 15px;
}
#blog .full-review-box::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    width: 1px;
    height: calc(100% - 15px);
    background: #dee2e6;
}
#blog .full-review-box:last-child::after {
    width: 0;
}

.new-product img{
    width: 97%;  
}
.new-product{
    padding: 16px;
}
#review{
    _border: 1px solid red;
    background: url(../img/review-bg.png) no-repeat center top;
    position: relative;
    background-size: 100% 100%;
}

.single-product {
    background-color: #fff;
}

.product-head {
    position: relative;
}
.product-head img {
    display: block;
    width: 100%;
    border-bottom: 5px solid #1baf5d;
} 

.round {
    background-color: #e94e38;
    border-radius: 30px;
    font-family: 'Gotham Medium';
    padding: 17px 37px;
    height: 60px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(193,65,46,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(193,65,46,1);
    box-shadow: 0px 2px 3px 0px rgba(193,65,46,1);
}

.blog-icon {
    text-align: center;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 245px;
    bottom: -24px;
    z-index: 10;
}
.blog-icon a {
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 50%;
    background-color: #1baf5d;
    padding-top: 6px;
    color: #fff;
    font-size: 25px;
    border: 4px solid #fff;
}


.recent-business-title h3{
    font-family: 'Raleway-Bold';
    padding: 4px;
}


/*--------------------------------------------------------------
# New Review
--------------------------------------------------------------*/

i.m_home {
    width: 67px;
    height: 67px;
    background: url(../img/home-green.png)no-repeat;
    display: block;
    position: absolute;
    bottom: 156px;
    left: 12px;
}
i.m_home1 {
    width: 67px;
    height: 67px;
    background: url(../img/img-sprite.png)no-repeat -7px -169px;
    display: block;
    position: absolute;
    bottom: 135px;
    left: 12px;
}

.index_img img {
    border-bottom: 3px solid #aed57c;
    display: block;
    max-width: 100%;
    height: auto;
}
.index_img1 img {
    border-bottom: 3px solid #aed57c;
    display: block;
    max-width: 100%;
    height: auto;
}
.middle_grid {
    padding: 2em 0;
}
.grid1 {
    position: relative;
    box-shadow: 0 1px 0px #E6E5E5;
    -webkit-box-shadow: 0 1px 0px #E6E5E5;
    -moz-box-shadow: 0 1px 0px #E6E5E5;
    -o-box-shadow: 0 1px 0px #E6E5E5;
}

ul.vision {
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 188px;
    left: 100px;
}
ul.vision li {
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
}
ul.vision li.desc {
    font-size: 0.8125em;
}
ul.vision li.desc a {
    color: #fff;
}
.inner_wrap1 {
    background: #fff;
    padding: 2em 1em 1em;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
}
ul.item_module {
    padding: 0;
    list-style: none;
}
ul.item_module li.module_left {
    float: left;
    margin-right: 1em;
    padding: 15px 0 0 0;
}
ul.item_module li.module_left img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border: 3px solid #e2dee0;
    width: 82%;
}
ul.item_module li.module_right {
    overflow: hidden;
}
ul.item_module li.module_right h5 {
    color: #495564;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.8em 0 0.2em;
    font-weight: 600;
}
ul.item_module li.module_right h4 {
    color: #495564;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}
ul.item_module li.module_right p {
    color: #788291;
    font-size: 0.8125em;
    line-height: 1.8em;
    display: inline;
    font-weight: normal;
}
.content_btn {
    display: inline-block;
    color: #495564;
    font-size: 0.95em;
    line-height: 18px;
    font-weight: 100;
    text-align: left;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}
h2.new-review-heading {
    background: #aed57c;
    padding: 22px;
    width: 263px;
    height: 82px;
    position: relative;
    top: -87px;
    color: #fff;
    display: block;
    padding:5px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(-10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

h2.new-review-heading span{
    position: absolute;
    -moz-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(30deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(30deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    padding:15px;
    letter-spacing: normal;
}
/*service css*/
.home-service {
    padding: 80px 0;
    background-color: #f7fbf2;
}

.Portfolio {
    position: relative;
    margin: 5px;
    border: 2px solid black;
    float: left;
    width: 180px;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
    -webkit-backface-visibility:visible;
    backface-visibility:visible;
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}

.Portfolio:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Portfolio img {
    width: 100%;
    height: auto;
    border-radius: 5px
}

.desc {
    padding: 5px;
    text-align: center;
    font-size: 90%;
    background:black;
    color:hotpink
}

.nav {
}
.nav li {
    width: 100%;
}
.nav li a { 
    padding: 15px 50px;
    width: 100%;
    display: block;
    font-size:16px; 
    color:#333; 
    transition-duration: 0.4s;
}
.nav a:hover { 
    background: transparent; 
    color: #aed57c !important;
}
.nav .active { 
    color: #aed57c !important;
    background-color: transparent !important;
}

@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}

}
.service-category{
    list-style: none;
    /*text-align: left;*/
}
.service-category li a {
    width: 100%;
    border-bottom: 1px solid #eee;
    display: block;
    padding: 10px 0;
    text-align: right;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.service-category li:first-child a {
    border-top: 1px solid #eee;
}

.service-slider {
    width: 100%;

} 
.carousel-inner {
    width: 100%;
}
.carousel-item > div {
    float: left;
}
.carousel-by-item [class*="cloneditem-"] {
    display: none;
}
.service-slider .carousel-item img {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}
.services-itembox {
    margin-bottom: 30px;
}
.home-service .carousel-control-next, 
.home-service .carousel-control-prev {
    position: absolute;
    top: -50px;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: unset !important;
    align-items: unset; 
    -ms-flex-pack: unset !important;
    justify-content: unset; 
    width: 30px;
    height: 30px;
    color: #333;
    text-align: center;
    opacity: .5;
    /*background-color: #fff;*/
    font-size: 30px;
}
.home-service .carousel-control-next i, 
.home-service .carousel-control-prev i {
    font-size: 20px;
}

.home-service .carousel-control-next .sr-only, 
.home-service .carousel-control-prev .sr-only {
    display: none
}
.home-service .carousel-control-prev {
    left: unset !important;
    right: 50px;
}
.home-service .carousel-control-next {
    right: 15px !important;
}
.home-service .carousel-control-next-icon,
.home-service .carousel-control-prev-icon {
    background-image: none;
    width: 30px;
    height: 30px;
}
.service-box {
    position:relative;
    overflow:hidden;
    margin-bottom: 30px;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.service-box:hover .caption {
    top:0%;
}
.service-box h4 {
    color: #fff;
    padding-top: 0px;
    margin-top: 25%;
}
.service-box p {
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
}
.service-box a {
    color: #fff;
}
a {
    text-decoration: none !important;
}
.add-busines-btn{
    padding-bottom: 65px;
}

.add-business-title h3{
    font-family: 'Raleway-Bold';
    font-size: 24px;
    text-align: center; 
}
.add-business-left-title{
    padding-top: 51px;
    font-family: 'Raleway-Bold';
}

#events .block-blog img {
    width: 100%;
}

.checkbox {
    padding-left: 4px; 
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; 
    color: #1a1f2b;
    font-size: 17px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox input[type=checkbox]:checked + label {
    color: #007b0e;
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }





.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #007b0e;
    border-color: #007b0e; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.event-left-title{
    color: #007b0e; 
    padding-top: 51px;
    font-family: 'Raleway-Bold';
}

.event-left-title h3{
    font-size: 45px;
}
.check-box-legend{
    margin-bottom:0px !important;
    color: black;
}

.bowls-feeder{
    background: #eaeaea;
    padding: 50px;
    height: 450px;
    margin-top: 55px;

}
.bowls-feeder h2{
    text-align: center;
    color: #ffffff;
    font-family: 'Rubik-Bold';
    font-size: 36px;
}
.bowls-feeder h4{
    text-align: center;
    padding-top: 8px;
}
.bowls-feeder h4 a{
    text-align: center;
    color: #ffffff;
    font-family: 'Rubik-Medium';
    font-size: 14px;
    text-decoration: underline;
}

#events .content-blog h4 {
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 16px;
    padding-top: 10px;
}

#events .content-blog h4  a{
    color: black;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 16px;
}
#events .content-blog > span {
    font-size: 13px;
    color: #007b0e;
    font-weight: 600;
    letter-spacing: normal;
}
.border-bottom{
    padding-bottom: 13px;
}
.box-event{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background-color: #FFFFFF;
    padding: 0px 69px;
}



.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,.125);
    margin-top: 47px;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 25%;
    padding: 15px;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.list-group-item img {
    width: 100% !important;
    height: auto;
}
.list-group-item-heading {
    letter-spacing: normal;
    font-size: 20px;
    text-transform: none;
    font-family: 'Raleway-Bold';
    margin-bottom: 0rem;
}
.list-group-item p.list-group-item-text{
    font-weight: 400;
    letter-spacing: normal;
    font-size: 15px;
}
.card-body p.date-time{
 font-family: 'OpenSans-Bold';
 color: #45545e;
}

.btn-join {
  font-family: Raleway-SemiBold;
  font-size: 16px;
  color: #56a700;
  letter-spacing: 1px;
  line-height: 20px;
  width: 195px;
  border: 2px solid #56a700;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-join:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.lead a{
    color: #505050;
    letter-spacing: normal;
}

.item.list-group-item .card
{
    margin-bottom: 0px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border: 0px solid rgba(0,0,0,.125) !important;
}



.main-title {
    padding-bottom: 15px;
}
.rangtangle {
    float: left;
    width: 52px;
    height: 52px;
    background-color: #007C0E;
    margin-right: 15px;
    border-radius: 5px;
}
.main-heading {
    padding-left: 15px;
    letter-spacing: normal;
    font-size: 20px;
    text-transform: none;
    font-family: 'Raleway-Bold';
    color: #007C0E;
    font-size: 25px;
    font-weight: 700;
}
.heading-food {
    padding-left: 15px;
    font-size: 12px;
    margin-top: -26px;
    text-align: left;
    font-weight: 600;
    color: #888;
}
.list-group-item-text p {
    line-height: 24px !important;
    margin-bottom: 15px !importa;
}
.grid-group-item.list-group-item {
    border-bottom: 1px solid #eee;
} 

.popular-event .review-box:after {
        content: "";
    position: absolute;
    right: -15px;
    z-index: 100;
    top: 0;
    width: 1px;
    height: calc(100% - 15px);
    background: #dee2e6;
}
.popular-event .full-review-box {
    padding-top: 15px;
    padding-right: 15px;
}

.popular-event .box-color {
    padding-bottom: 15px;
    margin-bottom: 50px;
    box-shadow: none !important;
    border: 1px solid #eee;
}
.bottom-linbar {
    width: 100px;
    height: 3px;
    background-color: green;
}














